@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Stock> stocks = JsonSerializer.Deserialize<IEnumerable<Stock>>(Model.JsonItems);
}
    <tr>
        <th>#</th>
        <th>Produto</th>
        <th>Proprietário</th>
        <th>Saldo</th>
        <th>Opções</th>
    </tr>
@foreach (var s in stocks)
{
    <tr>
        <td>@(counter++)</td>
        <td>@s.Product.Name</td>
        <td>@s.Owner.Name</td>
        <td>@s.Balance</td>
        <td>
            <a asp-action="Details" asp-route-id="@s.ID" class="btn btn-info">Detalhes</a>
            <a asp-action="Delete" asp-route-id="@s.ID" class="btn btn-danger">Remover</a>
        </td>
    </tr>
}