@{
    int counter = (int)ViewData["StartCounter"] + 1;
}
    <tr>
        <th>#</th>
        <th>Placa do Cavalo</th>
        <th>Placa da Carreta</th>
        <th>Placa da Carreta</th>
        <th>RNTRC</th>
        <th>Tara</th>
    </tr>
@foreach (var v in ViewData["Items"] as IEnumerable<Vehicle>)
{
    <tr>
        <td>@(counter++)</td>
        <td>@v.Plate1</td>
        <td>@v.Plate2</td>
        <td>@v.Plate3</td>
        <td>@v.RNTRC</td>
        <td>@v.Tare</td>
    </tr>
}