@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Vehicle> vehicles = JsonSerializer.Deserialize<IEnumerable<Vehicle>>(Model.JsonItems);
}
    <tr>
        <th>#</th>
        <th>Placa do Cavalo</th>
        <th>Placa da Carreta</th>
        <th>Placa da Carreta</th>
        <th>RNTRC</th>
        <th>Tara</th>
    </tr>
@foreach (var v in vehicles)
{
    <tr>
        <td>@(counter++)</td>
        <td>@v.Plate1</td>
        <td>@v.Plate2</td>
        <td>@v.Plate3</td>
        <td>@v.RNTRC</td>
        <td>@v.Tare</td>
    </tr>
}