@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Incoming> incomings = JsonSerializer.Deserialize<IEnumerable<Incoming>>(Model.JsonItems);
}
    <tr>
        <th>#</th>
        <th>Cliente</th>
        <th>Estoque</th>
        @* <th>Veículo</th>
        <th>Motorista</th>
        <th>Peso Bruto</th>
        <th>Tara</th> *@
        <th>Peso Líquido</th>
        <th>Criado Em</th>
        @* <th>Observação</th> *@
        <th>Opções</th>
    </tr>
@foreach (var i in incomings)
{
    <tr>
        <td>@(counter++)</td>
        <td>@i.Client.Name</td>
        <td>@i.Stock.Product.Name</td>
        @* <td>@i.Vehicle.Plate1</td>
        <td>@i.Driver.Name</td>
        <td>@i.GrossWeight</td>
        <td>@i.Vehicle.Tare</td> *@
        <td>@i.NetWeight</td>
        <td>@i.CreatedAt</td>
        @* <td>@i.Comment</td> *@
        <td>
            <a asp-action="Details" asp-route-id="@i.ID" class="btn btn-info">Detalhes</a>
            <a asp-action="Delete" asp-route-id="@i.ID" class="btn btn-danger">Remover</a>
        </td>
    </tr>
}