@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Client> clients = JsonSerializer.Deserialize<IEnumerable<Client>>(Model.JsonItems);
}
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Opções</th>
            </tr>
@foreach (var c in clients)
{
            <tr>
                <td>@(counter++)</td>
                <td>@c.Name</td>
                <td>@c.Address</td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.ID" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@c.ID" class="btn btn-success">Editar</a>
                    <a asp-action="Delete" asp-route-id="@c.ID" class="btn btn-danger">Remover</a>
                </td>
            </tr>
}