@model ListViewModel<Vehicle>
@{
    ViewData["Title"] = "Lista de Veículos";
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage;
}

    <h2>Lista de Veículos</h2>
@if (Model.PagingInfo.TotalItems == 0)
{
    <p>Nenhum item encontrado.</p>
}
else
{
    <table>
        <tr>
            <th>#</th>
            <th>Placa do Cavalo</th>
            <th>Placa da Carreta</th>
            <th>Placa da Carreta</th>
            <th>RNTRC</th>
        </tr>
@foreach (var s in Model.Items)
{
        <tr>
            <td>@(++counter)</td>
            <td>@s.Plate1</td>
            <td>@s.Plate2</td>
            <td>@s.Plate3</td>
            <td>@s.RNTRC</td>
        </tr>
}
    </table>
    <div page-model="@Model.PagingInfo" page-action="Vehicles"></div>
}