@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Product> products = JsonSerializer.Deserialize<IEnumerable<Product>>(Model.JsonItems);
}
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Opões</th>
    </tr>
@foreach (var p in products)
{
    <tr>
        <td>@(counter++)</td>
        <td>@p.Name</td>
        <td>@p.Description</td>
        <td>
            <a asp-action="Details" asp-route-id="@p.ID" class="btn btn-info">Detalhes</a>
            <a asp-action="Edit" asp-route-id="@p.ID" class="btn btn-success">Editar</a>
            <a asp-action="Delete" asp-route-id="@p.ID" class="btn btn-danger">Remover</a>
        </td>
    </tr>
}